In [ ]:
# Read file json into variables
import json

f = open('bios.json')
data = json.load(f)
f.close()

print(data)

[{'_id': 1, 'name': {'first': 'John', 'last': 'Backus'}, 'birth': '1924-12-03', 'death': '2007-03-17', 'contribs': ['Fortran', 'ALGOL', 'Backus-Naur Form', 'FP'], 'awards': [{'award': 'W.W. McDowell Award', 'year': 1967, 'by': 'IEEE Computer Society'}, {'award': 'National Medal of Science', 'year': 1975, 'by': 'National Science Foundation'}, {'award': 'Turing Award', 'year': 1977, 'by': 'ACM'}, {'award': 'Draper Prize', 'year': 1993, 'by': 'National Academy of Engineering'}]}, {'_id': 2, 'name': {'first': 'John', 'last': 'McCarthy'}, 'birth': '1927-09-04', 'death': '2011-12-24', 'contribs': ['Lisp', 'Artificial Intelligence', 'ALGOL'], 'awards': [{'award': 'Turing Award', 'year': 1971, 'by': 'ACM'}, {'award': 'Kyoto Prize', 'year': 1988, 'by': 'Inamori Foundation'}, {'award': 'National Medal of Science', 'year': 1990, 'by': 'National Science Foundation'}]}, {'_id': 3, 'name': {'first': 'Grace', 'last': 'Hopper'}, 'title': 'Rear Admiral', 'birth': '1906-12-09', 'death': '1992-01-01', 'contribs': ['UNIVAC', 'compiler', 'FLOW-MATIC', 'COBOL'], 'awards': [{'award': 'Computer Sciences Man of the Year', 'year': 1969, 'by': 'Data Processing Management Association'}, {'award': 'Distinguished Fellow', 'year': 1973, 'by': ' British Computer Society'}, {'award': 'W. W. McDowell Award', 'year': 1976, 'by': 'IEEE Computer Society'}, {'award': 'National Medal of Technology', 'year': 1991, 'by': 'United States'}]}, {'_id': 4, 'name': {'first': 'Kristen', 'last': 'Nygaard'}, 'birth': '1926-08-27', 'death': '2002-08-10', 'contribs': ['OOP', 'Simula'], 'awards': [{'award': 'Rosing Prize', 'year': 1999, 'by': 'Norwegian Data Association'}, {'award': 'Turing Award', 'year': 2001, 'by': 'ACM'}, {'award': 'IEEE John von Neumann Medal', 'year': 2001, 'by': 'IEEE'}]}, {'_id': 5, 'name': {'first': 'Ole-Johan', 'last': 'Dahl'}, 'birth': '1931-10-12', 'death': '2002-06-29', 'contribs': ['OOP', 'Simula'], 'awards': [{'award': 'Rosing Prize', 'year': 1999, 'by': 'Norwegian Data Association'}, {'award': 'Turing Award', 'year': 2001, 'by': 'ACM'}, {'award': 'IEEE John von Neumann Medal', 'year': 2001, 'by': 'IEEE'}]}, {'_id': 6, 'name': {'first': 'Guido', 'last': 'van Rossum'}, 'birth': '1956-01-31', 'contribs': ['Python'], 'awards': [{'award': 'Award for the Advancement of Free Software', 'year': 2001, 'by': 'Free Software Foundation'}, {'award': 'NLUUG Award', 'year': 2003, 'by': 'NLUUG'}]}, {'_id': 7, 'name': {'first': 'Dennis', 'last': 'Ritchie'}, 'birth': '1941-09-09', 'death': '2011-10-12', 'contribs': ['UNIX', 'C'], 'awards': [{'award': 'Turing Award', 'year': 1983, 'by': 'ACM'}, {'award': 'National Medal of Technology', 'year': 1998, 'by': 'United States'}, {'award': 'Japan Prize', 'year': 2011, 'by': 'The Japan Prize Foundation'}]}, {'_id': 8, 'name': {'first': 'Yukihiro', 'aka': 'Matz', 'last': 'Matsumoto'}, 'birth': '1965-04-14', 'contribs': ['Ruby'], 'awards': [{'award': 'Award for the Advancement of Free Software', 'year': '2011', 'by': 'Free Software Foundation'}]}, {'_id': 9, 'name': {'first': 'James', 'last': 'Gosling'}, 'birth': '1955-05-19', 'contribs': ['Java'], 'awards': [{'award': 'The Economist Innovation Award', 'year': 2002, 'by': 'The Economist'}, {'award': 'Officer of the Order of Canada', 'year': 2007, 'by': 'Canada'}]}, {'_id': 10, 'name': {'first': 'Martin', 'last': 'Odersky'}, 'contribs': ['Scala']}]

In [ ]:
# Prepare data for table computer_scientist

cs = []
for i in data:
  this_cs = {}
  this_cs['id'] = i.get('_id')
  this_cs['last'] = i.get('name').get('last')
  this_cs['birth'] = i.get('birth', None)
  this_cs['death'] = i.get('death', None)
  cs.append(this_cs)

print(cs)

[{'id': 1, 'last': 'Backus', 'birth': '1924-12-03', 'death': '2007-03-17'}, {'id': 2, 'last': 'McCarthy', 'birth': '1927-09-04', 'death': '2011-12-24'}, {'id': 3, 'last': 'Hopper', 'birth': '1906-12-09', 'death': '1992-01-01'}, {'id': 4, 'last': 'Nygaard', 'birth': '1926-08-27', 'death': '2002-08-10'}, {'id': 5, 'last': 'Dahl', 'birth': '1931-10-12', 'death': '2002-06-29'}, {'id': 6, 'last': 'van Rossum', 'birth': '1956-01-31', 'death': None}, {'id': 7, 'last': 'Ritchie', 'birth': '1941-09-09', 'death': '2011-10-12'}, {'id': 8, 'last': 'Matsumoto', 'birth': '1965-04-14', 'death': None}, {'id': 9, 'last': 'Gosling', 'birth': '1955-05-19', 'death': None}, {'id': 10, 'last': 'Odersky', 'birth': None, 'death': None}]

In [ ]:
# Prepare data awards 

aw = []
cs_aw = []
last_award_id = 1
for i in data:
  scientist_id = i.get('_id')
  list_aw = i.get('awards', None)
  if list_aw != None and len(list_aw) > 0:
    for j in list_aw:
      isExistList = list(filter(lambda item: item['award'] == j.get('award'), aw))
      this_award_id = None
      if(len(isExistList) > 0):
        this_award_id = isExistList[0]['id']
      else:
        this_award_id = last_award_id
        aw.append({
            'id': this_award_id,
            'award': j.get('award'),
            'by': j.get('by')
        })
        last_award_id += 1
      this_cs_aw = {}
      cs_aw.append({
          'scientist_id': scientist_id,
          'award_id': this_award_id,
          'year': j.get('year')
      })

print(aw)
print(cs_aw)

[{'id': 1, 'award': 'W.W. McDowell Award', 'by': 'IEEE Computer Society'}, {'id': 2, 'award': 'National Medal of Science', 'by': 'National Science Foundation'}, {'id': 3, 'award': 'Turing Award', 'by': 'ACM'}, {'id': 4, 'award': 'Draper Prize', 'by': 'National Academy of Engineering'}, {'id': 5, 'award': 'Kyoto Prize', 'by': 'Inamori Foundation'}, {'id': 6, 'award': 'Computer Sciences Man of the Year', 'by': 'Data Processing Management Association'}, {'id': 7, 'award': 'Distinguished Fellow', 'by': ' British Computer Society'}, {'id': 8, 'award': 'W. W. McDowell Award', 'by': 'IEEE Computer Society'}, {'id': 9, 'award': 'National Medal of Technology', 'by': 'United States'}, {'id': 10, 'award': 'Rosing Prize', 'by': 'Norwegian Data Association'}, {'id': 11, 'award': 'IEEE John von Neumann Medal', 'by': 'IEEE'}, {'id': 12, 'award': 'Award for the Advancement of Free Software', 'by': 'Free Software Foundation'}, {'id': 13, 'award': 'NLUUG Award', 'by': 'NLUUG'}, {'id': 14, 'award': 'Japan Prize', 'by': 'The Japan Prize Foundation'}, {'id': 15, 'award': 'The Economist Innovation Award', 'by': 'The Economist'}, {'id': 16, 'award': 'Officer of the Order of Canada', 'by': 'Canada'}]
[{'scientist_id': 1, 'award_id': 1, 'year': 1967}, {'scientist_id': 1, 'award_id': 2, 'year': 1975}, {'scientist_id': 1, 'award_id': 3, 'year': 1977}, {'scientist_id': 1, 'award_id': 4, 'year': 1993}, {'scientist_id': 2, 'award_id': 3, 'year': 1971}, {'scientist_id': 2, 'award_id': 5, 'year': 1988}, {'scientist_id': 2, 'award_id': 2, 'year': 1990}, {'scientist_id': 3, 'award_id': 6, 'year': 1969}, {'scientist_id': 3, 'award_id': 7, 'year': 1973}, {'scientist_id': 3, 'award_id': 8, 'year': 1976}, {'scientist_id': 3, 'award_id': 9, 'year': 1991}, {'scientist_id': 4, 'award_id': 10, 'year': 1999}, {'scientist_id': 4, 'award_id': 3, 'year': 2001}, {'scientist_id': 4, 'award_id': 11, 'year': 2001}, {'scientist_id': 5, 'award_id': 10, 'year': 1999}, {'scientist_id': 5, 'award_id': 3, 'year': 2001}, {'scientist_id': 5, 'award_id': 11, 'year': 2001}, {'scientist_id': 6, 'award_id': 12, 'year': 2001}, {'scientist_id': 6, 'award_id': 13, 'year': 2003}, {'scientist_id': 7, 'award_id': 3, 'year': 1983}, {'scientist_id': 7, 'award_id': 9, 'year': 1998}, {'scientist_id': 7, 'award_id': 14, 'year': 2011}, {'scientist_id': 8, 'award_id': 12, 'year': '2011'}, {'scientist_id': 9, 'award_id': 15, 'year': 2002}, {'scientist_id': 9, 'award_id': 16, 'year': 2007}]

In [ ]:
# Prepare data contribs
co = []
cs_co = []
last_contrib_id = 1
for i in data:
  scientist_id = i.get('_id')
  list_co = list(i.get('contribs', None))
  if list_co != None and len(list_co) > 0:
    for j in list_co:
      isExistList = list(filter(lambda item: item['contrib'] == j, co))
      this_contrib_id = None
      if(len(isExistList) > 0):
        this_contrib_id = isExistList[0]['id']
      else:
        this_contrib_id = last_contrib_id
        co.append({
            'id': this_contrib_id,
            'contrib': j
        })
        last_contrib_id += 1
      this_cs_co = {}
      cs_co.append({
          'scientist_id': scientist_id,
          'contrib_id': this_contrib_id
      })

print(co)
print(cs_co)

[{'id': 1, 'contrib': 'Fortran'}, {'id': 2, 'contrib': 'ALGOL'}, {'id': 3, 'contrib': 'Backus-Naur Form'}, {'id': 4, 'contrib': 'FP'}, {'id': 5, 'contrib': 'Lisp'}, {'id': 6, 'contrib': 'Artificial Intelligence'}, {'id': 7, 'contrib': 'UNIVAC'}, {'id': 8, 'contrib': 'compiler'}, {'id': 9, 'contrib': 'FLOW-MATIC'}, {'id': 10, 'contrib': 'COBOL'}, {'id': 11, 'contrib': 'OOP'}, {'id': 12, 'contrib': 'Simula'}, {'id': 13, 'contrib': 'Python'}, {'id': 14, 'contrib': 'UNIX'}, {'id': 15, 'contrib': 'C'}, {'id': 16, 'contrib': 'Ruby'}, {'id': 17, 'contrib': 'Java'}, {'id': 18, 'contrib': 'Scala'}]
[{'scientist_id': 1, 'contrib_id': 1}, {'scientist_id': 1, 'contrib_id': 2}, {'scientist_id': 1, 'contrib_id': 3}, {'scientist_id': 1, 'contrib_id': 4}, {'scientist_id': 2, 'contrib_id': 5}, {'scientist_id': 2, 'contrib_id': 6}, {'scientist_id': 2, 'contrib_id': 2}, {'scientist_id': 3, 'contrib_id': 7}, {'scientist_id': 3, 'contrib_id': 8}, {'scientist_id': 3, 'contrib_id': 9}, {'scientist_id': 3, 'contrib_id': 10}, {'scientist_id': 4, 'contrib_id': 11}, {'scientist_id': 4, 'contrib_id': 12}, {'scientist_id': 5, 'contrib_id': 11}, {'scientist_id': 5, 'contrib_id': 12}, {'scientist_id': 6, 'contrib_id': 13}, {'scientist_id': 7, 'contrib_id': 14}, {'scientist_id': 7, 'contrib_id': 15}, {'scientist_id': 8, 'contrib_id': 16}, {'scientist_id': 9, 'contrib_id': 17}, {'scientist_id': 10, 'contrib_id': 18}]

In [ ]:
# Create database sqllite

import sqlite3
conn = None
try:
    conn = sqlite3.connect(':memory:')
    print(sqlite3.version)
except sqlite3.Error as e:
    print(e)
finally:
    if conn:
        print('success create database in memory')

2.6.0
success create database in memory

In [ ]:
# Create table computer_scientist

create_table_computer_scientist = """
  CREATE TABLE IF NOT EXISTS computer_scientist (
    id INTEGER PRIMARY KEY,
    last TEXT NOT NULL,
    birth TEXT,
    death TEXT
  );
"""
cur = None
try:
  cur = conn.cursor()
  cur.execute(create_table_computer_scientist)
except sqlite3.Error as e:
  print(e)
conn.commit()

[('computer_scientist',)]

In [ ]:
# Create table awards

create_table_awards = """
  CREATE TABLE IF NOT EXISTS awards (
    id INTEGER PRIMARY KEY,
    award TEXT NOT NULL,
    by TEXT NOT NULL
  );
"""
cur = None
try:
  cur = conn.cursor()
  cur.execute(create_table_awards)
except sqlite3.Error as e:
  print(e)
conn.commit()

In [ ]:
# Create table computer_scientist_awards

# drop = "DROP TABLE computer_scientist_awards;"
create_table_computer_scientist_awards = """  
  CREATE TABLE IF NOT EXISTS computer_scientist_awards (
    scientist_id INTEGER INTEGER,
    award_id INTEGER NOT NULL,
    year TEXT NOT NULL,
    FOREIGN KEY (scientist_id)
       REFERENCES computer_scientist (id)
    FOREIGN KEY (award_id)
       REFERENCES awards (id) 
  );
"""
cur = None
try:
  cur = conn.cursor()
  cur.execute(create_table_computer_scientist_awards)  
except sqlite3.Error as e:
  print(e)
conn.commit()

In [ ]:
# Create table contribs

create_table_contrib = """
  CREATE TABLE IF NOT EXISTS contribs (
    id INTEGER PRIMARY KEY,
    contrib TEXT NOT NULL
  );
"""
cur = None
try:
  cur = conn.cursor()
  cur.execute(create_table_contrib)
except sqlite3.Error as e:
  print(e)
conn.commit()

[]

In [ ]:
# Create table computer_scientist_contribs

create_table_computer_scientist_awards = """
  CREATE TABLE IF NOT EXISTS computer_scientist_contribs (
    scientist_id INTEGER INTEGER,
    contrib_id INTEGER NOT NULL,
    FOREIGN KEY (scientist_id)
       REFERENCES computer_scientist (id)
    FOREIGN KEY (contrib_id)
       REFERENCES contribs (id) 
  );
"""
cur = None
try:
  cur = conn.cursor()
  cur.execute(create_table_computer_scientist_awards)  
except sqlite3.Error as e:
  print(e)
conn.commit()

[]

In [ ]:
# Show all created tables
show_tables = """
  SELECT name 
  FROM sqlite_master 
  WHERE type='table';
"""
cur = None
try:
  cur = conn.cursor()
  cur.execute(show_tables)
  print(cur.fetchall())
except sqlite3.Error as e:
  print(e)
conn.commit()

[('computer_scientist',), ('awards',), ('contribs',), ('computer_scientist_contribs',), ('computer_scientist_awards',)]

In [ ]:
# Insert data cs into table computer_scientist
insert_row = "INSERT INTO computer_scientist ( id, last, birth, death ) VALUES ( ?, ?, ?, ? );"
show_data = "SELECT * FROM computer_scientist;"
for row in cs:
  id = row.get('id')
  this_cs = (row.get('id'), row.get('last'), row.get('birth', None), row.get('death', None))
  try:
    cur.execute(insert_row, this_cs)
  except sqlite3.Error as e:
    print(e)
conn.commit()
cur.execute(show_data)
print(cur.fetchall())

UNIQUE constraint failed: computer_scientist.id
UNIQUE constraint failed: computer_scientist.id
UNIQUE constraint failed: computer_scientist.id
UNIQUE constraint failed: computer_scientist.id
UNIQUE constraint failed: computer_scientist.id
UNIQUE constraint failed: computer_scientist.id
UNIQUE constraint failed: computer_scientist.id
UNIQUE constraint failed: computer_scientist.id
UNIQUE constraint failed: computer_scientist.id
UNIQUE constraint failed: computer_scientist.id
[(1, 'Backus', '1924-12-03', '2007-03-17'), (2, 'McCarthy', '1927-09-04', '2011-12-24'), (3, 'Hopper', '1906-12-09', '1992-01-01'), (4, 'Nygaard', '1926-08-27', '2002-08-10'), (5, 'Dahl', '1931-10-12', '2002-06-29'), (6, 'van Rossum', '1956-01-31', None), (7, 'Ritchie', '1941-09-09', '2011-10-12'), (8, 'Matsumoto', '1965-04-14', None), (9, 'Gosling', '1955-05-19', None), (10, 'Odersky', None, None)]

In [ ]:
# Insert data aw into table awards
insert_row = "INSERT INTO awards ( id, award, by ) VALUES ( ?, ?, ? );"
show_data = "SELECT * FROM awards;"
for row in aw:
  id = row.get('id')
  this_aw = (row.get('id'), row.get('award'), row.get('by'))
  try:
    cur.execute(insert_row, this_aw)
  except sqlite3.Error as e:
    print(e)
conn.commit()
cur.execute(show_data)
print(cur.fetchall())

UNIQUE constraint failed: awards.id
UNIQUE constraint failed: awards.id
UNIQUE constraint failed: awards.id
UNIQUE constraint failed: awards.id
UNIQUE constraint failed: awards.id
UNIQUE constraint failed: awards.id
UNIQUE constraint failed: awards.id
UNIQUE constraint failed: awards.id
UNIQUE constraint failed: awards.id
UNIQUE constraint failed: awards.id
UNIQUE constraint failed: awards.id
UNIQUE constraint failed: awards.id
UNIQUE constraint failed: awards.id
UNIQUE constraint failed: awards.id
UNIQUE constraint failed: awards.id
UNIQUE constraint failed: awards.id
[(1, 'W.W. McDowell Award', 'IEEE Computer Society'), (2, 'National Medal of Science', 'National Science Foundation'), (3, 'Turing Award', 'ACM'), (4, 'Draper Prize', 'National Academy of Engineering'), (5, 'Kyoto Prize', 'Inamori Foundation'), (6, 'Computer Sciences Man of the Year', 'Data Processing Management Association'), (7, 'Distinguished Fellow', ' British Computer Society'), (8, 'W. W. McDowell Award', 'IEEE Computer Society'), (9, 'National Medal of Technology', 'United States'), (10, 'Rosing Prize', 'Norwegian Data Association'), (11, 'IEEE John von Neumann Medal', 'IEEE'), (12, 'Award for the Advancement of Free Software', 'Free Software Foundation'), (13, 'NLUUG Award', 'NLUUG'), (14, 'Japan Prize', 'The Japan Prize Foundation'), (15, 'The Economist Innovation Award', 'The Economist'), (16, 'Officer of the Order of Canada', 'Canada')]

In [ ]:
# Insert data co into table contribs
insert_row = "INSERT INTO contribs ( id, contrib ) VALUES ( ?, ? );"
show_data = "SELECT * FROM contribs;"
for row in co:
  id = row.get('id')
  this_co = (row.get('id'), row.get('contrib'))
  try:
    cur.execute(insert_row, this_co)
  except sqlite3.Error as e:
    print(e)
conn.commit()
cur.execute(show_data)
print(cur.fetchall())

[(1, 'Fortran'), (2, 'ALGOL'), (3, 'Backus-Naur Form'), (4, 'FP'), (5, 'Lisp'), (6, 'Artificial Intelligence'), (7, 'UNIVAC'), (8, 'compiler'), (9, 'FLOW-MATIC'), (10, 'COBOL'), (11, 'OOP'), (12, 'Simula'), (13, 'Python'), (14, 'UNIX'), (15, 'C'), (16, 'Ruby'), (17, 'Java'), (18, 'Scala')]

In [ ]:
# Insert data cs_aw into table computer_scientist_awards

insert_row = "INSERT INTO computer_scientist_awards ( scientist_id, award_id, year ) VALUES ( ?, ?, ? );"
show_data = "SELECT * FROM computer_scientist_awards;"
for row in cs_aw:
  id = row.get('id')
  this_row = (row.get('scientist_id'), row.get('award_id'), row.get('year'))
  try:
    cur.execute(insert_row, this_row)
  except sqlite3.Error as e:
    print(e)
conn.commit()
cur.execute(show_data)
print(cur.fetchall())

[(1, 1, '1967'), (1, 2, '1975'), (1, 3, '1977'), (1, 4, '1993'), (2, 3, '1971'), (2, 5, '1988'), (2, 2, '1990'), (3, 6, '1969'), (3, 7, '1973'), (3, 8, '1976'), (3, 9, '1991'), (4, 10, '1999'), (4, 3, '2001'), (4, 11, '2001'), (5, 10, '1999'), (5, 3, '2001'), (5, 11, '2001'), (6, 12, '2001'), (6, 13, '2003'), (7, 3, '1983'), (7, 9, '1998'), (7, 14, '2011'), (8, 12, '2011'), (9, 15, '2002'), (9, 16, '2007')]

In [ ]:
# Insert data cs_co into table computer_scientist_contribs

insert_row = "INSERT INTO computer_scientist_contribs ( scientist_id, contrib_id ) VALUES ( ?, ? );"
show_data = "SELECT * FROM computer_scientist_contribs;"
for row in cs_co:
  id = row.get('id')
  this_row = (row.get('scientist_id'), row.get('contrib_id'))
  try:
    cur.execute(insert_row, this_row)
  except sqlite3.Error as e:
    print(e)
conn.commit()
cur.execute(show_data)
print(cur.fetchall())

[(1, 1), (1, 2), (1, 3), (1, 4), (2, 5), (2, 6), (2, 2), (3, 7), (3, 8), (3, 9), (3, 10), (4, 11), (4, 12), (5, 11), (5, 12), (6, 13), (7, 14), (7, 15), (8, 16), (9, 17), (10, 18)]

In [ ]:
# Calculate awards per Scientist
awards_by_scientist = """
  SELECT s.last AS scientist, COUNT(a.award_id) AS count_award
  FROM computer_scientist_awards a
  JOIN computer_scientist s ON a.scientist_id = s.id
  GROUP BY s.id
"""
try:
  cur.execute(awards_by_scientist)
  print(cur.fetchall())
except sqlite3.Error as e:
    print(e)

[('Backus', 4), ('McCarthy', 3), ('Hopper', 4), ('Nygaard', 3), ('Dahl', 3), ('van Rossum', 2), ('Ritchie', 3), ('Matsumoto', 1), ('Gosling', 2)]

In [ ]:
# Calculate average awards per Scientist
average_awards = """
  SELECT AVG(a.count_award_per_scientist) AS average_award_per_scientist
  FROM (
    SELECT COUNT(award_id) AS count_award_per_scientist
    FROM computer_scientist_awards
    GROUP BY scientist_id
  ) AS a
"""
try:
  cur.execute(average_awards)
  print(cur.fetchall())
except sqlite3.Error as e:
  print(e)

[(2.7777777777777777,)]